[submodule "depdendencies/yolov5"]
	path = depdendencies/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "depdendencies/nanodet"]
	path = depdendencies/nanodet
	url = git@github.com:st235/nanodet.git
