[submodule "dependencies/yolov5"]
	path = dependencies/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "dependencies/nanodet"]
	path = dependencies/nanodet
	url = git@github.com:st235/nanodet.git
